<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content+"width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="author" content="Celyne Kydd, Hive" />
  </head>

  <body>
    <h1>Welcome to {{name}}</h1>
  </body>

  <footer class="mt-auto text-white-50">
    <p>
      Copyright © {% now 'Y' %} <a href="" class="text-white">Hive</a> by
      <a href="https://github.com/mimi-netizen/Hive" class="text-white"
        >Celyne Kydd</a
      >
    </p>
  </footer>
</html>
